.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
    transition: 0.5s;
}

.logo {
    width: 160px;
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    margin: 10px 40px;
    font-size: 18px;
    cursor: pointer;
}

ul li:hover {
    color: #007bff;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/* Customize sidebar styles */

  

@media (max-width: 768px) {
    ul {
       display: none;
    }

    .navbar:hover ul {
        display: block; /* Show the menu when hovering over the navbar */
    }

    ul li {
        display: none;
    }
}

